<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body>
<nav th:fragment="body" class="navbar">
    <span th:if="${#authentication.principal != null}">
        <span th:text="${#authentication.principal.username} + ' with roles: '"></span>
        <span th:each="authority, iterStat : ${#authentication.principal.authorities}" th:text="${authority} + (${!iterStat.last} ? ', ' : '')"></span>
    </span>
    <span th:if="${#authentication.principal == null}">Not authenticated</span>
    <a th:href="@{/logout}">Logout</a>
</nav>
</body>
</html>